
// * ---------------------------------------------------------------------------------- HOME PAGE
.home-body {
  background-color: black;
  text-align: center;
}
.instructions-div {
}
.instructions-div {
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  margin: 100px auto ;
  width: 500px;
}
// .start-game-button {
//   background-color: none;
//   color: yellow;
//   padding: 0;
// }
.button_slide {
  color: #FFF;
  border: 2px solid rgb(255, 207, 73);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #FFDA33;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #FFD549;
}
#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
// * ---------------------------------------------------------------------------------- HEADER
// .title {
//   background-image: "./images/header/h2.png";
// }
.header-wrapper {
  text-align: center;
  margin-bottom: 10px;
  backface-visibility: hidden;
}
.header-wrapper img {
  max-width: 700px;
  margin-bottom: 10px;
}
// * ---------------------------------------------------------------------------------- GAME PAGE
p, div, button {
  color: white;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  height: 600px;
  // padding: 70px;
  margin: 0 auto;
  // border: 1px solid blue;
  margin-top: 60px;

}
.card-single-container {
  // border: solid 1px grey;
  max-width: 328px;
  max-height: 580px;
  background-image: url('../images/cardfrontbg.jpg');
  background-repeat: no-repeat;
  background-size: 110%;
  // border: 1px solid rgb(255, 166, 166);
}
.card-header {
  display: flex;
  flex-direction: row;
  backface-visibility: hidden;
}
.logo {
  background-image: url('../images/star-wars-logo-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.card-button {
  display: block;
  border: 0;
  padding: 0;
  background-color: none;
  cursor: pointer;
  margin-top: 20px;
  width: 286px;
  border-radius: 25px;
  margin-left: 20px;
  color: black;
}
.data {
  padding: 20px;
  pointer-events: none;
}
.image {
  // border: 1px solid grey;
  padding: 0;
  text-align: center;
  backface-visibility: hidden;
}
.image img {
  width: 300px;
}
.information {
  border: 1px solid grey;
  height: 190px;
  width: 328px;
  backface-visibility: hidden;
  font: 400 13.3333px Arial;
}
body {
  background-color: black;
  color: #555;
  font-size: 1.2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
  padding: 1em;
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
  -webkit-perspective: 800px;
  perspective: 800px;
}
.card {
  width: 340px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  // border: 1px solid red;
  margin: 0;
}

// card flip
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // border: 1px solid rgb(21, 255, 0);
}
.front {
  color:black;
}
.back {
  background-image: url('../images/cardback2.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  font-size:x-small;
  // border: 1px solid rgb(21, 255, 0);
  margin: 0;
}
.card:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.result {
  background-color: #000000;
  color:#FFE81F;
  margin-right: 50px;
  font-weight: 900;
  font-size:25px;
  // border: 1px solid rgb(0, 26, 255);
}
.footer-container {
  display:flex;
  justify-content: center;
  // border: 1px solid red;
}
.play-again-button {
  background-color: rgb(255, 226, 62);
  border-radius: 20px;
  background-repeat:no-repeat;
  color:#000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  // border: 1px solid green;
}
.display-nothing {
  font-size: 0%;
}
.back-button {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 1px;
  margin:18px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: black;
  // border: 1px solid blue;
}
.name-of-starship {
  border-radius: 5px;
}
// .instructions-div p{
//   color: black;
// }