
// * HOME PAGE

.home-body {
  background-color: black;
  text-align: center;
}

.instructions-div {

}
.instructions-div p{
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  margin: 100px auto ;
  width: 500px;
}
// .start-game-button {
//   background-color: none;
//   color: yellow;
//   padding: 0;
// }
.button_slide {
  color: #FFF;
  border: 2px solid rgb(255, 207, 73);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffda33;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #ffd549;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

// * HEADER
// .title {
//   background-image: "./images/header/h2.png";
// }

.header-wrapper {
  text-align: center;
  margin-bottom: 10px;
}
.header-wrapper img {
  max-width: 500px;
  margin-bottom: 10px;
}

// * GAME PAGE

p, div, button {
  color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  height: 600px;
  // padding: 70px;
  margin: 0 auto;
  border: solid 1px red;
}

.card-single-container { 
  border: solid 1px grey;
  max-width: 328px;
  max-height: 580px;
  background-image: url('../images/cardfrontbg.jpg');
  background-repeat: no-repeat;
  background-size: 110%;
}

.card-header {
  display: flex;
  flex-direction: row;
}

.logo {
  background-image: url('../images/star-wars-logo-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.card-button {
  display: block;
  border: 0;
  padding: 0;
  background-color: none;
  cursor: pointer;
  margin-top: 20px;
}

.data {
  padding: 20px;
  pointer-events: none;
}
.image {
  border: 1px solid green;
  padding: 0;
  text-align: center;
}
.image img {
  width: 300px;
}
.information {
  border: 1px solid blue;
  height: 190px;
  width: 328px;
}


body {
  background-color: black;
  color: #555;
  font-size: 1.2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  padding: 1em;
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 340px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


// card flip 

.card {
  width: 340px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
}

.back {
  background-image: url('../images/cardback2.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.result { 
  background-color: #000000;
  color:#FFE81F;
  margin-right: 10px;
  font-weight: 900;
  font-size:25px;
}

.footer-container { 
  display:flex;
  justify-content: center;
}

.play-again-button { 
  background-color: Transparent;
    background-repeat:no-repeat;
  color:#FFE81F;
  font-weight: bold;
  font-size:20px;
  text-decoration: underline;
}

